*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Inter', sans-serif;
    min-height: 100%;
}

main{
    background-color: #c7e0e7;
    max-width: 768px;
    width: 100%;
    min-height: 100%;
}

header{
    width: 100%;
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
    background-color: #5d9aba;
    color: black;
}

.header__image--left img{
    width: 30px;
}

.header__text {
    flex: 1;
}

.header__text h1 {
    font-size: 12px;
    text-align: center;
    font-weight: 400;
}

.header__text h3 {
    font-size: 8px;
    text-align: center;
    font-weight: 300;
}

.content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    background-color: #e9eef4;
    width: 100%;
    margin-bottom: 20px;
}

.box__header{
    color: white;
    width: 100%;
    background-color: #5d9aba;
    padding: 5px 0;
}

.box__header h2 {
    text-align: center;
    font-size: 16px;
}

.box__body{
    padding: 10px;
}

.abstract{
    font-size: 10px;
}

.team-member{
    display: flex; 
    width: 100%;
}

.team-member h3 {
    flex: 1;
    font-size: 14px;
    margin-right: 10px;
} 

.team-member span{
    margin-right: 10px;
}
.team-member span img {
    width: 20px;
}

.refrences{
    list-style: none;
    counter-reset: my-awesome-counter;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}


.refrence{
    counter-increment: my-awesome-counter;
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
}


.refrence::before{
    content: "[" counter(my-awesome-counter ) "]";
    margin-right: 5px;
}

.resources{
    list-style: none;
}

.resource{
    display: flex;
    justify-content: center;
}

.resource p {
    display: flex;
    align-items: center;
}
.resource a img {
    width: 40px;
}
